.courses{
    background-color: rgb(109, 59, 59);
    background-color: rgb(203, 185, 185);
    padding: 20px;
    min-height: 100vh;
}
.courses h1{
    background-color: rgb(51, 28, 28);
    border-top: 10px solid rgb(122, 35, 35);
    border-left: 10px solid rgb(122, 35, 35);
    color: white;
    padding: 10px;
    text-align: center;
}

.courses div{
    border-radius: 40px;
    font-size: 30px;
    word-spacing: 1px;
}


.CourseTop{
    display: flex;
    justify-content: center;
    gap: 100px;
    transition: 1s;
}
.CourseTop:hover{
    gap: 120px;
}
.CourseTop div{
    background-color:  rgb(187, 119, 119);
    color: rgb(65, 36, 36);
    width: 400px;
    height: 400px;
    /* text-align: justify; */
    padding: 20px;
}

.CourseBottom{
    display: flex;
    justify-content: center;
    gap: 100px;
    transition: 1s; 
}
.CourseBottom:hover{
    gap: 150px;
}
.CourseBottom div{
    background-color:  rgb(187, 119, 119);
    color: rgb(65, 36, 36);
    width: 400px;
    height: 400px;
    padding: 20px;
    /* text-align: justify; */
}
.CourseLast{
    display: flex;
    justify-content: center;
}
.CourseLast div{
    background-color:  rgb(187, 119, 119);
    color: rgb(65, 36, 36);
    width: 400px;
    height: 400px;
    padding: 20px;
    /* text-align: justify; */
}