.Library{
    background-color: rgb(230, 181, 181);
    min-height: 100vh;
    padding-top: 90px;

}

.Library h1{
    color: rgb(56, 14, 14);
    margin-top: 10px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.BOOKS{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap: 60px;
    margin-top: 30px;
    padding: 30px;
}

.book1, .book2, .book3, .book4, .book5, .book6 {
    border: 5px solid rgb(119, 43, 43);
    height: 300px;
    width: 300px;
}

.book1 div{
    background-image: url(Images/html-removebg-preview.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: contain;
    min-height: 60%;
}

.book2 div{
    background-image: url(Images/css-removebg-preview.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: contain;
    min-height: 60%;
}

.book3 div{
    background-image: url(Images/Js-removebg-preview.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: contain;
    min-height: 60%;
}

.book4 div{
    background-image: url(Images/python-removebg-preview.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: contain;
    min-height: 60%;
}

.book5 div{
    background-image: url(Images/react-removebg-preview.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: contain;
    min-height: 60%;
}

.book6 div{
    background-image: url(Images/c++-removebg-preview.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: contain;
    min-height: 60%;
}
.BOOKS div{
    padding: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}


.BOOKS p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    border-top: 1px solid;
    padding: 5px;
    margin-top: 10px;
}
